= render partial: "errors/errors", locals: {obj: @book}

%p Ingresa los datos de la nueva cancion

= form_for @book do |f|


  .field
    = f.label :title, "Titulo"
    = f.text_field :title

  .field
    = f.label :description, "Descripcion"
    = f.text_field :description

  .field
    = f.label :price, "Precio"
    = f.text_field :price

  .field
    = f.label :category, "Categoria"
    = f.select :category, Book.categories_to_select, {}

  .field
    = f.submit

    =link_to "Cancel", mybooks_author_path(current_user.id)