<!DOCTYPE html>
<html>
<head>
  <title>Biblioteca</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="panelwrap">
  <div class="header">
    <div class="title">Biblioteca</div>

    <div class="header_right">
      
    </div>

    <div class="menu">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "LIBROS", books_path %></li>
      <% if current_user.present? %>
        <li><%= link_to "MIS LIBROS", mybooks_author_path(current_user.id) %></li>
         <%=current_user.name %>
        <li><%= link_to "LOGOUT", logout_path,method: :delete %></li>

      <% else %>
        <li><%= link_to "LOGIN", login_path %></li>
        <li><%= link_to "SIGN UP", new_author_path %></li>
        <a>Iniciar Sesion</a>
      <% end %>
    </ul>
    </div>

  </div>

  <%= yield %>

</div>

</body>